<launch>
<!-- run rostest 1 -->
    <arg name="dest_dir" default="$(env HOME)/ARAIG" />

    <param name="/calculators/dest_dir" value="$(arg dest_dir)" />

    <rosparam command="load" file="$(find navel_tests)/config/test3.yaml" />
    <param name="/calculators/dest_dir" value="$(arg dest_dir)" />

<!-- test runner -->
    <node pkg="araig_test_runners" type="test_3" name="test_3_runner_node" output="screen">
    </node>

<!-- logging -->
    <!-- folder_bagger_node -->
    <node pkg="araig_calculators" type="folder_bagger_node" name="folder_bagger_node" output="screen">
        <remap from="/start" to="/signal/ui/start_test"/>
        <remap from="/stop" to="/signal/runner/test_completed"/>
        <remap from="/test_failed" to="/signal/runner/test_failed"/>
        <remap from="/test_succeeded" to="/signal/runner/test_succeeded"/>
        <remap from="/out_begin_write" to="/signal/logger/begin_write"/>
    </node>

    <!-- param_logger_node -->
    <node pkg="araig_calculators" type="rosparam_logger_node" name="param_logger_node" output="screen">
        <remap from="/start" to="/signal/ui/start_test"/>
        <remap from="/stop" to="/signal/runner/test_completed"/>
    </node>

</launch>
