<launch>   
<!-- run rostest 1 -->
    <arg name="disable_marvel" default="false"/>

    <rosparam command="load" file="$(find mobika2_tests)/config/test4_no_goal.yaml" />

<!-- test runner -->
    <node pkg="araig_test_runners" type="test_4_no_goal" name="test_4_no_goal" output="screen">
    </node>

<!-- interpreters -->
    <node pkg="araig_interpreters" type="velocity_interpreter" name="velocity_interpreter_node" output="screen">
        <remap from="/start" to="/signal/runner/start_robot"/>
        <remap from="/stop" to="/signal/runner/stop_robot"/>
        <remap from="/velocity" to="/cmd_vel"/>    
    </node>

<!-- calculators -->
    <!-- get speed from /odom -->
    <node name="focus_odom_x" pkg="topic_tools" type="transform" args="/odom /data/robot/odom/twist/linear_x std_msgs/Float64 'm.twist.twist.linear.x'" />
  
    <!-- X Y Z Y P R transform of marvel origin frame wrt map frame. Needs to be physically measured. -->
    <arg name="origin_pos" default="1.52 -2.37 0 0.55 0 0"/>

    <!-- Publish static TF of the origin anchor to map -->
    <node pkg="tf" type="static_transform_publisher" name="marvel_tf" args=" $(arg origin_pos)  /map /marvel_origin 1"/>

    <node pkg="marvelmind_nav" type="hedge_rcv_bin" name="hedge_rcv_bin" />

    <!-- marvel_interpreter -->
    <node pkg="araig_interpreters" type="marvel_location_interpreter" name="marvel_interpreter" output="screen">
     <remap from="/marvel_interpreter/beacon6" to="/data/interpreter/location/robot"/>
    <remap from="/marvel_interpreter/beacon7" to="/data/interpreter/location/obstacle"/>
    </node>

    <!-- robot_has_stopped_node -->
    <node pkg="araig_calculators" type="comp_param_node" name="robot_has_stopped_node" output="screen">
        <remap from="/in_float" to="/data/robot/odom/twist/linear_x"/>
        <remap from="/out_bool" to="/signal/calc/robot_has_stopped"/>
    </node>

    <!-- robot_in_collision_node -->
    <node pkg="araig_calculators" type="comp_poses_node" name="robot_in_collision_node" output="screen">
        <remap from="/in_pose_1" to="/data/interpreter/location/robot"/>
        <!-- need create a fake one -->
        <remap from="/in_pose_2" to="/data/interpreter/location/obstacle"/>
        <remap from="/out_bool" to="/signal/calc/robot_in_collision"/>
    </node>

    <!-- robot_stop_gap_node -->
    <node pkg="araig_calculators" type="diff_poses_spatial_node" name="robot_stop_gap_node" output="screen">
        <remap from="/in_obj_1" to="/data/interpreter/location/robot"/>
        <remap from="/in_obj_2" to="/data/interpreter/location/obstacle"/>
        <remap from="/in_signal" to="/signal/calc/robot_has_stopped"/>
        <remap from="out_disp_position" to="/data/calc/robot_stop_gap"/>
    </node>

    <!-- bag_video_node -->
    <node pkg="araig_calculators" type="rosbagger_node" name="bag_video_node">
        <remap from="/start" to="/signal/ui/start_test"/>
        <remap from="/stop" to="/signal/runner/test_completed"/>
    </node>

</launch>